/* 
    Document   : boardStyles
    Created on : 27.03.2012, 10:23:57
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    background: #efefef;
    font-family: Georgia, serif;
    color: #222;
    text-align: center;
}

a {
    
}

a:hover {
    text-decoration: none;
}

#globalWrapper {
    width: 900px;
    min-height: 1000px;
    margin: 50px auto;
    border: 1px solid #ccc;
}

#header {
    height: 100px;
}
#gameWrapper {
    height: 860px;
    width: 860px;
    margin: 0 auto;
}

#gameWrapper .field {
    width: 96px;
    height: 96px; 
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    float: left;
    border: 2px solid;
}

#gameWrapper .field.black {
    background-color: #d18b47;
    border-color: #d18b47;
}
#gameWrapper .field.white {
    background-color: #ffce9e;
    border-color: #ffce9e;
}

#gameWrapper .field:hover {
    border-color: #000;
}

#board {
    overflow: auto;
}

#gameBorder {
    background-color: #fff;
    font-family: fantasy;
    color: #000;
    padding: 30px;
} 